* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}


.navbar{
    height: 80px;
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.contact-us {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ddd;
  }
  
  .contact-us h2 {
    margin-bottom: 20px;
  }
  
  .contact-us p {
    margin: 10px 0;
  }
  

  section {
    box-sizing: border-box;
    background-color: aqua;
    padding: 15px 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.typewriter {
    width: 650px;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end) infinite alternate,
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  